<?xml version="1.0" encoding="utf-8"?>

<!--This is the Android Manifest file. Every app project must have one. The manifest file describes
    essential information about the app to the Android build tools, the Android operating system,
    and Google Play-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.hangboard">

    <!--Permissions that this app will request:-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--Location is required for BLE to work, even though it is not used in this app-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--This app requires the host phone to have Bluetooth LE-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!--Declare the app's icon, name, etc. -->
    <!--Also, declare the activities and services included in the app-->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConnectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MoveActivity"
            android:label="@string/title_activity_move" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".WorkoutLog.LogActivity" />
        <activity android:name=".ChooseWorkout.ViewWorkoutsActivity"></activity>

    </application>

</manifest>